@charset "utf-8";

/* ---------------------- */
/* initialize rule        */
/* ---------------------- */
@import url("default.css");
/* ---------------------- */
/* end of initialize rule */
/* ---------------------- */

a:link {
    color: #0051E9;
}

a:visited {
    color: #005585;
}

a:hover {
    color: #80af00;
}
select:focus,
input:focus,
textarea:focus {
    background-color: #ffffe0;
}
h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
}
h2 {
    color: #E7EFFF;
    background-color: #00108C;
    font-weight: bold;
    font-size: 150%;
    margin: 3px 3px 3px 3px;
    padding: 5px 3px 3px 30px;
    background-image: url("../img/h2.png");
    background-repeat: repeat-x;
}
h3 {
    font-size: 120%;
    font-weight: bold;
    background-color: #E7EFFF;
    padding: 3px 3px 0px 10px;
    margin: 5px 0px 5px 0px;
    border-color: #00108C;
    border-style: solid;
    border-width: 0px 0px 2px 15px;
    background-image: url("../img/h3.png");
}
div#input_form h4,
div#top h4,
div#ticket_list h4.status  {
    padding: 0px 2px 0px 10px;
    margin: 8px 0px 3px 3px;
    border-color: #00108C;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    font-weight: bold;
}
div#ticket_history h4 {
    width: 98%;
    padding: 0px 2px 0px 10px;
    margin: 8px 0px 3px 3px;
    border-color: #00108C;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    font-weight: bold;
}
/* チケット一覧 ID */
div#ticket_list table th.id {
    width: 30px;
}
/* チケット一覧 件名 */
div#ticket_list table th.field1 {
    width: 30%;
}
/* |+チケット一覧 投稿者+| */
/* div#ticket_list table th.field2 { */
/*     width: 80px; */
/* } */
/* チケット一覧 状態 */
/* div#ticket_list table th.field3 { */
/*     width: 45px; */
/* } */
/* チケット一覧 ID */
div#ticket_list table td.id {
    text-align: center;
}
/* 放置日数 */
div#ticket_list table td.passed {
    text-align: right;
}
h5 {
    font-weight: bold;
    margin: 0px 0px 3px 5px;
}
h6 {
    color: #00108C;
    font-size: 90%;
    font-weight: bold;
    margin: 0px 0px 3px 8px;
}
hr {
    width: 100%;
}
.message {
    margin: 0px 0px 0px 30px;
}

table {
    margin:10px;
}

table tr th{
    padding:3px;
    background:#EEE;
/*     border-bottom:1px solid gray; */
}

table tr td {
    padding:3px;
/*     border-bottom:1px dashed gray; */
}
input, textarea {
    width: 400px;
}
input.checkbox, input.radio {
    width: 20px;
}

input.calendar {
    width: 80px;
}
input.number {
    width: 40px;
}
input.button {
    width: 100px;
}
input:hover.button {
    cursor: pointer;
}

input:focus.button {
    border-color: #000000;
    background-color: #cccccc;
}
#mainmenu {
    width:100%;
    margin:0px 0px 0px 0px;
    text-align: center;
}

#mainmenu li {
    margin:0px 0px 0px 0px;
    list-style:none;
    padding:3px 10px;
    float:left;
}
#subject {
}
#ticket_list table {
    width: 95%;
}
#ticket_history table {
    width: 95%;
}
#ticket_history td.title {
    color: #00108C;
    font-size: 110%;
    font-weight: bold;
    background-color: #d9d9d9;
    border-bottom:1px solid #808080;
    white-space: nowrap;
}
#ticket_history td.title span.date {
    margin-left: 8px;
    color: #000000;
    font-weight: normal;
}
#ticket_history th {
    white-space: nowrap;
    width: 150px;
}
#ticket_history td {
    vertical-align: top;
}
#input_form table {
    width: 75%;
}
#input_form th {
    vertical-align: top;
    width: 150px;
}
#input_form textarea {
    height: 200px;
}
div {
}
#new_item,
#ticket_list,
#ticket_history,
#input_form,
#setting_form,
#condition_form {
    margin: 10px;
    width: 95%;
}
#new_item table th,
#input_form table th,
#setting_form table th,
#condition_form table th {
    background-color: #f0f8ff;
}
#input_form table.reply_table th.ticket_property {
    background-color: #FAFAE8;
}
#condition_form table div.description, 
#setting_form table div.description, 
#input_form table div.description {
    margin-left: 0px;
}
table.list_item {
    width: 90%;
}
table.list_item, table.list_item td, table.list_item th {
  margin: 0px;
  border: none;
}
.list_item input.text {
  width: 150px;
}
.list_item input.checkbox {
}
input.conditionelement {
    width: 150px;
}
#info,
#top_new_ticket_link,
#top_state_index,
#top_newest,
#top_id_search,
#top,
#main_body {
    margin: 10px;
    width: 95%;
}
#info {
    font-size: 70%;
    margin: 0px;
    padding: 0px;
    width: 20%;
    float: right;
}
#top_new_ticket_link,
#top_newest,
#top_state_index,
#top_id_search {
    margin: 10px;
    padding: 0px;
    border: #ff5500 solid 1px;
}
#top_new_ticket_link h4,
#top_newest h4,
#top_state_index h4,
#top_id_search h4 {
    background-color: #ff5500;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
}
#top_new_ticket_link li,
#top_newest li,
#top_state_index li {
    margin: 5px;
    padding: 5px;
}
#top_id_search form {
    margin: 8px;
}
#top_new_ticket_link li,
#top_state_index li,
#top_newest li {
    list-style-image: url("../img/li.gif");
}
#top_new_ticket_link h4 a {
    color: #ffffff;
    font-weight: bold;
}
#main {
    width: 75%;
    float: left;
}
#main h3 {
    width: 95%;
}
#footer {
    clear : both;
}
#info ul,
#info li {
    margin:0px 0px 0px 0px;
}
#new_item {
    margin: 10px;
    width: 95%;
}
.top_edit {
    width: 95%;
    text-align: right;
}
#edit_top {
    width: 95%;
    height: 300px;
}
.ticket_property {
    color: #00108C;
}

#ticket_newest {
    margin: 10px;
    width: 95%;
}
#ticket_newest table {
    width: 95%;
}
#ticket_newest th {
    white-space: nowrap;
    width: 150px;
    background-color: #F0DB8C;
}
#ticket_newest td {
    background-color: #ffffe0;
}
th.required {
    border-left-color: #DE1439 !important;
    border-left-width: 3px;
}
span.required {
    color: #ff0000;
}
.error {
    color: #ff0000;
    font-weight: bold;
}
#state_index {
    width:100%;
    margin:0px 0px 0px 0px;
    text-align: center;
    height: 20px;
}

#state_index li {
    margin:0px 0px 0px 0px;
    list-style:none;
    padding:0px 10px 0px 10px;
    float:left;
}
#state_index form {
    display:inline;
}
/* #state_index_anchor { */
/*     width:100%; */
/*     margin:0px 0px 0px 0px; */
/*     text-align: center; */
/*     height: 20px; */
/* } */

/* #state_index_anchor li { */
/*     margin:0px 0px 0px 0px; */
/*     list-style:none; */
/*     padding:0px 10px 0px 10px; */
/*     float:left; */
/* } */
/* #state_index_anchor form { */
/*     display:inline; */
/* } */
#field_list {
    width:100%;
    height:30px;
    margin:0px 0px 0px 0px;
    text-align: center;
}

#field_list li {
    margin:0px 0px 0px 0px;
    list-style:none;
    padding:3px 10px;
    float:left;
}
div.complete_message {
    border: 1px #228B22 solid;
    margin: 15px 3px 15px 3px;
    padding: 5px 5px 5px 20px;
    background-color: #DDFFDD;
    width: 80%;
    -moz-border-radius: 8px;
}
div.item_navigation {
    width: 95%;
    font-size: 80%;
    text-align: right;
}
#ticket_list th {
    white-space: nowrap;
}
#ticket_list th a {
    font-weight: bold;
    text-decoration: none;
}
#ticket_list th a:hover {
    text-decoration: underline;
}
#ticket_list table tr:hover td {
    background-color: #E9FEEE;
    border-bottom: solid #004000 1px;
}
#ticket_list td.registerdate,
#ticket_list td.lastregisterdate {
/*     white-space: nowrap; */
}

div.navigater {
    font-weight: bold;
    padding: 5px 50px 5px 50px;
    text-align: right;
}
div.navigater a {
    font-weight: bold;
}
table.item_table {
    width: 90%;
}
table.item_table th {
    width: 120px;
}
.element_new_item {
    width: 80px;
}

#menu {
    background: #ccc;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border: solid #333 1px;
    margin-bottom: 8px;
}
#menu li {
    float: left;
    font-size: 85%;
    margin: 0;
    padding: 0;
    border-right: solid #003F00 1px;
}
#menu a {
    background: #eee bottom right no-repeat;
    color: #000000;
    display: block;
    float: left;
    margin: 0;
    padding: 0px 12px;
    text-decoration: none;
}
#menu a.current {
    background: #666 bottom center no-repeat;
    color: #ffffff;
}
#menu a:hover {
    background: #999 bottom center no-repeat;
    color: #ffffff;
    padding-bottom: 0px;    
}
#calendar {
    position:absolute;
    margin: 0px;
    padding: 0px;
    width: 200px;
}
#calendar table {
    border-collapse: collapse;
    border: solid #0838A5 1px;
}
#calendar tbody {
    font-weight: bold;
    font-size: 12px;
    text-align: right;
}
#calendar table th,
#calendar table td {
    border: 0px;
    padding: 3px;
    width: 20px;
    background-color: #F7F3F7;
}
#calendar table tr td.out {
    color: #808080;
}
#calendar tr.title th {
    color: #ffffff;
    background-color: #0838A5;
}
#calendar tr th {
    background-color: #AFDBFF;
}
#calendar tr.title th.title {
    text-align: center;
    width: auto;
}
#calendar .day_0 {
    color: #ff0000;
}
#calendar .day_6 {
    color: #0000ff;
}
#calendar .selected {
    background-color: #FFDEAE;
}
#calendar .onmouse {
    background-color: #FF9A31;
    cursor: pointer;
}
div.graph {
    width: 100%;
    height: 300px;
}
div.delete_item {
    margin: 10px;
}
div.description {
    margin-left: 10px;
}
img.attachment_image {
    width: 200px;
}
#input_form textarea {
    height: 200px;
}
table#register_at_once_confirm tr td textarea {
    width: 100px;
    height: 40px;
}
textarea#csvdata {
    width: 95%;
    height: 300px;
}
table#register_at_once_confirm {
}
table#register_at_once_confirm th {
    white-space: nowrap;
}
a#new_ticket_link {
    font-size: 100%;
    color: #EF5110;
    font-weight: bold;
}
a#new_ticket_link:hover {
    background-color: #EFEFEF;
}
/* vim: set ts=4 sw=4 sts=4 expandtab fenc=utf-8: */
