@charset "utf-8";

/* ---------------------- */
/* initialize rule        */
/* ---------------------- */
@import url("default.css");
/* ---------------------- */
/* end of initialize rule */
/* ---------------------- */

h1 {
    margin: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: center;
}
h2 {
    margin: 0px 5px 5px 0px;
    color: #E7EFFF;
    background-color: #00108C;
    font-weight: bold;
    font-size: 150%;
    margin: 3px 3px 30px 3px;
    padding: 5px 3px 3px 30px;
    background-image: url("../img/h2.png");
}
h3 {
    font-size: 120%;
    font-weight: bold;
    background-color: #E7EFFF;
    padding: 3px 3px 3px 10px;
    margin: 5px 0px 5px 0px;
    border-color: #00108C;
    border-style: solid;
    border-width: 0px 0px 1px 15px;
    background-image: url("../img/h3.png");
}
h4 {
    font-weight: bold;
    padding: 0px 2px 0px 10px;
    margin: 3px 0px 3px 3px;
    border-color: #00108C;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}
hr {
    width: 100%;
}
.message {
    margin: 0px 0px 0px 30px;
}

table {
    margin:10px;
}

table tr th{
    padding:3px;
    background:#EEE;
    border-bottom:1px solid gray;
}

table tr td {
    padding:3px;
    border-bottom:1px dashed gray;
}
input, textarea {
    width: 400px;
}
input.checkbox, input.radio {
    width: 20px;
}

input.number {
    width: 40px;
}
input.button {
    width: 100px;
}
#mainmenu {
    width:100%;
    margin:0px 0px 0px 0px;
    text-align: center;
}

#mainmenu li {
    margin:0px 0px 0px 0px;
    list-style:none;
    padding:3px 10px;
    float:left;
}
#subject {
}
#ticket_list table {
    width: 95%;
}
#ticket_history table {
    width: 95%;
}
#ticket_history td.title {
/*     background-image: url("img/h3.png"); */
    font-weight: bold;
    color: #00108C;
    font-size: 110%;
    text-align: center;
    font-weight: bold;
    background:#EEE;
    border-bottom:1px solid gray;
    white-space: nowrap;
}
#ticket_history th {
    white-space: nowrap;
    width: 150px;
}
#ticket_history td {
    vertical-align: top;
}
#input_form th {
    vertical-align: top;
    width: 150px;
}
#input_form textarea {
    height: 100px;
}
div {
}
#ticket_list,
#ticket_history,
#input_form,
#setting_form,
#condition_form {
    margin: 10px;
    width: 95%;
}
table.list_item, table.list_item td, table.list_item th {
  margin: 0px;
  border: none;
}
.list_item th {
  width: 110px;
}
table.list_item th.close {
  width: 100px;
}
table.list_item th.delete {
  width: 40px;
}
.list_item input.text {
  width: 100px;
}
.list_item input.checkbox {
}
#info,
#top_state_index,
#top_newest,
#top,
#main_body {
    margin: 10px;
    width: 95%;
}
#info {
    font-size: 70%;
    margin: 0px;
    padding: 0px;
    width: 20%;
    float: right;
}
#top_newest,
#top_state_index {
    margin: 10px;
    padding: 0px;
    border: #ff5500 solid 1px;
}
#top_newest h4,
#top_state_index h4 {
    background-color: #ff5500;
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
}
#top_newest li,
#top_state_index li {
    margin: 5px;
    padding: 5px;
}
#main {
    width: 75%;
    float: left;
}
#main h3 {
    width: 95%;
}
#footer {
    clear : both;
}
#info ul,
#info li {
    margin:0px 0px 0px 0px;
}
#new_item {
    margin: 10px;
    width: 95%;
}
.top_edit {
    width: 95%;
    text-align: right;
}
#edit_top {
    width: 95%;
    height: 300px;
}
.ticket_property {
    color: #00108C;
}

#ticket_newest {
    margin: 10px;
    width: 95%;
}
#ticket_newest table {
    width: 95%;
}
#ticket_newest th {
    white-space: nowrap;
    width: 150px;
    background-color: #d9d9d9;
}
#ticket_newest td {
}
th.required {
    border-left-color: crimson;
    border-left-width: 3px;
}
span.required {
    color: red;
}
.error {
    color: red;
    font-weight: bold;
}
#state_index {
    width:100%;
    margin:0px 0px 0px 0px;
    text-align: center;
    height: 20px;
}

#state_index li {
    margin:0px 0px 0px 0px;
    list-style:none;
    padding:0px 10px 0px 10px;
    float:left;
}
#state_index form {
    display:inline;
}
#field_list {
    width:100%;
    height:30px;
    margin:0px 0px 0px 0px;
    text-align: center;
}

#field_list li {
    margin:0px 0px 0px 0px;
    list-style:none;
    padding:3px 10px;
    float:left;
}
/* 新規 */
#ticket_list td.field3-1 {
    background-color: lightpink;
}
/* 受付済 */
#ticket_list td.field3-2 {
    background-color: peachpuff;
}
/* 修正済 */
#ticket_list td.field3-3 {
    background-color: lightyellow;
}
/* 保留 */
#ticket_list td.field3-4 {
    background-color: white;
}
/* 完了 */
#ticket_list td.field3-5 {
    background-color: lightcyan;
}
/* 破棄 */
#ticket_list td.field3-6 {
    background-color: slategray;
}
div.complete_message {
    border: 1px #228B22 solid;
    margin: 15px 3px 15px 3px;
    padding: 5px 5px 5px 20px;
    background-color: #DDFFDD;
    width: 350px;
    -moz-border-radius: 8px;
}
div.item_navigation {
    width: 95%;
    font-size: 80%;
    text-align: right;
}
#ticket_list th a {
    font-weight: bold;
    text-decoration: none;
}
#ticket_list th a:hover {
    text-decoration: underline;
}
#ticket_list table tr:hover td {
    background-color: #E9FEEE;
}
div.navigater {
    font-weight: bold;
    padding: 5px 50px 5px 50px;
    text-align: right;
}
div.navigater a {
    font-weight: bold;
}
table.item_table {
    width: 90%;
}
.element_new_item {
    width: 80px;
}
