@charset "utf-8";
/*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
*/

/* ---------------------- */
/* initialize rule        */
/* ---------------------- */
@import url("default.css");
/* ---------------------- */
/* end of initialize rule */
/* ---------------------- */
body {
    margin: 0px 0px 0px 0px;
    width: 100%;
}

a:link {
    color: #0051E9;
}

a:visited {
    color: #005585;
}

a:hover {
    color: #80af00;
}
select:focus,
input:focus,
textarea:focus {
}
h1 {
    color: #eeeeee;
    background-color: #444444;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
    font-weight: bold;
    font-size: 150%;
}
h2 {
    font-weight: bold;
    font-size: 110%;
    background-color: #454545;
    color: white;
    margin: 10px 0px 10px 0px;
    padding: 3px 0px 1px 10px;
}
h3 {
    font-size: 105%;
    font-weight: bold;
    color: #eee;
    background-color: #555555;
    padding: 3px 3px 0px 10px;
    margin: 5px 0px 5px 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-color: #979F9F;
    border-style: solid;
    border-width: 1px;
}
.radius-right {
    -moz-border-top-right-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-bottom-right-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
}
.radius-left {
    -moz-border-top-left-radius: 7px;
    -webkit-border-top-left-radius: 7px;
    -moz-border-bottom-left-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
}
/* h4 { */
/*     font-weight: bold; */
/*     font-size: 110%; */
/*     margin: 2px 10px; */
/*     padding: 3px 10px; */
/* } */
/* h5 { */
/*     font-weight: bold; */
/*     font-size: 100%; */
/*     margin: 0px 0px 3px 5px; */
/*     padding: 3px 20px; */
/* } */
/* h6 { */
/*     color: #00108C; */
/*     font-size: 95%; */
/*     font-weight: bold; */
/*     margin: 0px 0px 3px 8px; */
/*     padding: 3px 20px; */
/* } */
/* hr { */
/*     width: 100%; */
/* } */
/* .message { */
/*     margin: 0px 0px 0px 30px; */
/* } */
/* table { */
/*     margin:10px; */
/* } */

/* table tr th{ */
/*     padding:3px; */
/*     background:#EEE; */
/* } */

/* table tr td { */
/*     padding:3px; */
/* } */

/* #main { */
/*     width: 75%; */
/*     float: left; */
/* } */
/* #main h3 { */
/*     width: 95%; */
/* } */
#header {
    background-color: #444;
}
#footer {
    clear : both;
}
#footer div address {
    margin:0px;
    padding:0px;
}
/* #info ul, */
/* #info li { */
/*     margin:0px 0px 0px 0px; */
/* } */


/* #menu { */
/*     margin-bottom: 2px; */
/*     position:    absolute; */
/*     top:         3px;  */
/*     right:       0px; */
/* } */
/* #menu ul { */
/*     list-style: none; */
/*     margin: 0; */
/*     padding: 0; */
/* } */
/* #menu li { */
/*     float: right; */
/*     font-size: 85%; */
/*     margin: 0; */
/*     padding: 0; */
/* } */
/* #menu a { */
/*     color: #000000; */
/*     display: block; */
/*     float: left; */
/*     margin: 0; */
/*     padding: 0px 5px; */
/* } */
/* #menu a.current { */
/* } */
/* #menu a:hover { */
/*     background: #999 bottom center no-repeat; */
/*     color: #ffffff; */
/*     padding-bottom: 0px; */
/* } */
/* div.complete_message { */
/*     border: 1px #228B22 solid; */
/*     margin: 15px 3px 15px 3px; */
/*     padding: 5px 5px 5px 20px; */
/*     background-color: #DDFFDD; */
/*     width: 80%; */
/*     -moz-border-radius: 8px; */
/* } */
#projectmenu {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
#projectmenu ul {
    background: transparent;
    float: left;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: solid #444 1px;
    margin-bottom: 0px;
}
#projectmenu li {
    float: left;
    font-size: 85%;
    margin: 0px;
    padding: 0px;
    border-right: solid #003F00 1px;
}
#projectmenu li.blank {
    width: 5px;
}
#projectmenu a {
    background: #aaa bottom right no-repeat;
    color: #000000;
    display: block;
    float: left;
    margin: 0;
    padding: 1px 8px;
    text-decoration: none;
}
#projectmenu a.current {
    background: #666 bottom center no-repeat;
    color: #ffffff;
}
#projectmenu a:hover {
    background: #666 bottom center no-repeat;
    color: #ffffff;
}

/* #sub_project_list, */
/* #project_list, */
/* #project_info, */
/* #project_search, */
/* #project_add { */
/*     padding:0px 10px; */
/* } */
/* #main-content { */
/*     margin:0px; */
/*     padding:0px; */
/* } */
#project_list {
    float:left;
    width:350px;
}
#project_list h2 {
    margin:0px 0px 0px 0px;
}
#project_list ul {
    margin: 5px;
    padding: 3px;
}
#project_list li {
    margin: 3px;
    padding: 0px;
}
#project_list form {
    margin: 5px;
    padding: 0px;
}
#search_result {
    padding:0px 0px;
}
#dashboard {
    margin: 0px;
    padding:0px 0px 0px 365px;
}
#dashboard p {
    padding:0px 10px 0px 20px;
}
#dashboard ul {
    padding:0px 10px 0px 20px;
}
div#top_page_edit {
    margin: 0px 10px;
    width: 96%;
}
div#top_page_edit_link {
    margin-right: 10px;
    text-align: right;
}
#top textarea {
    margin: 0px 20px;
}
#top input {
    margin: 0px 20px;
}
textarea {
    width: 400px;
    height: 300px;
}
input.button {
    width: 100px;
}
#project_add input,
#project_list input {
    width: 100px;
}
div.description {
    margin-left: 10px;
}
div.navigation {
    margin: 15px;
}
div.remote-address {
    font-weight: bold;
}
span.link-disabled {
    font-weight: bold;
    color: red;
}
div.proc-button {
    padding: 5px 20px;
}
/* vim: set ts=4 sw=4 sts=4 expandtab fenc=utf-8: */
