@charset "utf-8";

/* ---------------------- */
/* initialize rule        */
/* ---------------------- */
@import url("default.css");
/* ---------------------- */
/* end of initialize rule */
/* ---------------------- */
body {
    background-image: url("../img/starbug1.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    width: 99%;
}

a:link {
    color: #0051E9;
}

a:visited {
    color: #005585;
}

a:hover {
    color: #80af00;
}
select:focus,
input:focus,
textarea:focus {
    background-color: #ffffe0;
}
h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 250%;
/*     text-align: center; */
/*     color: white; */
/*     background-color: #00108C; */
/*     border-bottom: solid #00108C 5px; */
}
h2 {
    font-weight: bold;
    font-size: 130%;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 10px;
    border-color: #00108C;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
}
h3 {
    font-size: 120%;
    font-weight: bold;
    background-color: #E7EFFF;
    padding: 3px 3px 0px 10px;
    margin: 5px 0px 5px 10px;
    border-color: #00108C;
    border-style: solid;
    border-width: 0px 0px 2px 15px;
}
h4 {
    font-weight: bold;
    font-size: 95%;
    margin: 2px 10px;
    padding: 3px 10px;
}
h5 {
    font-weight: bold;
    margin: 0px 0px 3px 5px;
    padding: 3px 20px;
}
h6 {
    color: #00108C;
    font-size: 90%;
    font-weight: bold;
    margin: 0px 0px 3px 8px;
}
hr {
    width: 100%;
}
.message {
    margin: 0px 0px 0px 30px;
}
table {
    margin:10px;
}

table tr th{
    padding:3px;
    background:#EEE;
/*     border-bottom:1px solid gray; */
}

table tr td {
    padding:3px;
/*     border-bottom:1px dashed gray; */
}

#main {
    width: 75%;
    float: left;
}
#main h3 {
    width: 95%;
}
#footer {
    clear : both;
}
#footer div address {
    margin:0px;
    padding:0px;
}
#info ul,
#info li {
    margin:0px 0px 0px 0px;
}


#menu {
/*     background: #ccc; */
/*     float: left; */
/*     width: 100%; */
/*     border: solid #333 1px; */
    margin-bottom: 2px;
    position:    absolute;
    top:         3px; 
/*     left:        21em;  */
    right:       0px;
}
#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li {
    float: right;
    font-size: 85%;
    margin: 0;
    padding: 0;
/*     border-left: solid #003F00 1px; */
}
#menu a {
/*     background: #eee bottom right no-repeat; */
    color: #000000;
    display: block;
    float: left;
    margin: 0;
    padding: 0px 5px;
/*     text-decoration: none; */
}
#menu a.current {
/*     background: #666 bottom center no-repeat; */
/*     color: #ffffff; */
}
#menu a:hover {
    background: #999 bottom center no-repeat;
    color: #ffffff;
    padding-bottom: 0px;
}
div.complete_message {
    border: 1px #228B22 solid;
    margin: 15px 3px 15px 3px;
    padding: 5px 5px 5px 20px;
    background-color: #DDFFDD;
    width: 80%;
    -moz-border-radius: 8px;
}
#projectmenu {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}
#projectmenu ul {
    background: #ccc;
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 98%;
    border: solid #333 1px;
    margin-bottom: 8px;
}
#projectmenu li {
    float: left;
    font-size: 85%;
    margin: 0px;
    padding: 0px;
    border-right: solid #003F00 1px;
}
#projectmenu a {
    background: #eee bottom right no-repeat;
    color: #000000;
    display: block;
    float: left;
    margin: 0;
    padding: 0px 8px;
    text-decoration: none;
}
#projectmenu a.current {
    background: #666 bottom center no-repeat;
    color: #ffffff;
}
#projectmenu a:hover {
    background: #999 bottom center no-repeat;
    color: #ffffff;
    padding-bottom: 0px;    
}

#sub_project_list,
#project_list,
#project_info,
#project_search,
#project_add {
    padding:0px 10px;
/*     width: 30%; */
/*     float: left; */
}
#main-content {
    margin:0px;
    padding:0px;
/*     width: 65%; */
/*     float: left; */
}
#project_list {
    float:left;
    width:350px;
}
#project_list h2 {
    margin:0px 0px 10px 0px;
    padding-left:5px;
}
#project_list ul {
    margin: 5px;
    padding: 3px;
}
#project_list li {
    margin: 3px;
    padding: 0px;
}
#project_list form {
    margin: 5px;
    padding: 0px;
}
#dashboard {
    margin: 0px;
    padding:0px 10px 0px 390px;
/*     width: 65%; */
/*     float: left; */
}
textarea {
    width: 400px;
    height: 300px;
}
input.button {
    width: 100px;
}
#project_add input,
#project_list input {
    width: 100px;
}
div.navigation {
    margin: 15px;
}
/* vim: set ts=4 sw=4 sts=4 expandtab fenc=utf-8: */
